# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb

# Node / React
node_modules/
build/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS / Linux
.DS_Store
Thumbs.db